{% load static %}
{% load compress %}
{% load adjax %}

<!DOCTYPE HTML>
<html ng-app="app">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Tjöta</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    
    {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static 'styles.scss' %}">
    {% endcompress %}
  </head>

  <body>
    {% csrf_token %}

    {% adjax_scripts %}
    <!-- 
    The main controller is used throughtout right now, might need to be split at some point into smaller
    and more manageable sections (files).
    -->
    <div ng-controller="main">
        <div class="header">
            <!-- 
            Static images are referenced from the directory at tjota/static/..., the directory is defined in
            settings.py, line > 100. Read more about how to reference images in the README.
            -->
            <img src="{% static 'tjota.png' %}" alt="Tjöta"/>
            <img src="{% static 'yellow.png' %}" alt="Yellow"/>
            <h3>You've heard of GUL, but have you heard of YELLOW?</h3>
        </div>
        
        <!-- Here starts the login box. -->
        <div class="login" ng-show="login.visible">
          <div class="caption">
            <button ng-click="login.hide()">&times;</button>
          </div>
            <!-- The ng-submit takes the data gathered in the form and submits it with a call to the login funcion. -->
          <form ng-submit="login.submit()">
            <input type="text" ng-model="login.data.username" placeholder="Username"/>
            <input type="password" ng-model="login.data.password" placeholder="Password"/>
            <label>
              <input type="checkbox" ng-model="login.consent"/>
              I accept the <a href="#">Terms and Conditions</a>
            </label>
            <!-- Button will remain disabled until consent is given. -->
            <button ng-disabled="!login.consent">Login</button>
          </form>
        </div>
        
        <!-- Main navigation menu, displayed at the top of the screen, just below the logo images. -->
        <div class="mainmenu">
            <div ng-if="!user.name" ng-click="login.show()" class="menuitem">
                Log in
            </div>
            <div ng-if="!user.name" class="dummy80">
            </div>
            <div ng-if="user.name" class="dropdown">
                Account
                <div class="dropdowncontent">
                    <div class="dropdownitem">
                        Profile
                    </div>
                    <div ng-click="logout.submit()" class="dropdownitem">
                        Log out
                    </div>
                </div>
            </div>
            <div ng-if="user.name" class="menuitem">
                Chats
            </div>
            <div ng-if="user.name" class="menuitem">
                Calendar
            </div>
            <div ng-if="user.name" class="menuitem">
                Grades
            </div>
            <div ng-if="user.name" class="menuitem">
                Settings
            </div>
        </div>
        
        <!-- 
        Here starts the user's view once logged in. The ng-if keeps this section hidden until the user variable
        is changed from null -> and actual user
        -->
        <div ng-if="user.name" class="userview">
        <!--<div class="userview">-->
            <div class="leftsidebar">
                <h1>Welcome, [[ user.name ]]</h1>
                <p>Provider: [[ user.provider ]]</p>
                <form class="status">
                    <span ng-hide="status.editable">Your current status is: [[ user.status ]]</span>
                    <button ng-hide="status.editable" ng-click="status.edit()">Edit</button>

                    <input ng-show="status.editable" type="text" ng-model="user.status"/>
                    <button ng-show="status.editable" ng-click="status.save()">Save</button>
                </form>
                <div class="chatrooms">
                    <div class="chatops">
                        <button ng-click="chat.listRooms()">Refresh chat rooms</button>
                        <br>
                        <div ng-show="chat.data.insertChat">
                            
                            <form ng-submit="chat.createRoom()">
                              <div>
                                <label> Room name </label>
                                <input type="text" ng-model="chat.data.chatName"/>     
                              </div>
                                <div>
                                  <label> Room Type </label>
                                  <select ng-model="chat.data.chatType">
                                    <option ng-repeat="option in chat.data.chatTypes" value="[[option.id]]">[[option.name]]</option>
                                  </select>
                                </div>
                                <div ng-if="chat.data.chatType === 'direct' || chat.data.chatType === 'bot'">
                                  <label ng-if="chat.data.chatType === 'direct'">user@provdider</label>
                                  <label ng-if="chat.data.chatType === 'bot'">provder://provider</label>
                                  <input type="textfield" ng-if="chat.data.chatType === 'direct'" ng-model="chat.data.extraField"></input>
                                  <input type="textfield" ng-if="chat.data.chatType === 'bot'" ng-model="chat.data.extraField"></input>
                                </div>
                                <button>Save room</button>
                            </form>
                            
                        </div>
                        <button ng-hide="chat.data.insertChat" ng-click="chat.show()">Create room</button>
                        <button ng-show="chat.data.insertChat" ng-click="chat.hide()">Cancel</button>
                    </div>
                    <div class="chats">
                        <ul class="chatlist">
                            <li class="chatitem" ng-repeat="chatroom in chat.chatrooms | orderBy: 'roomname'">
                                <p ng-click="chat.selectChatroom(chatroom)">[[ chatroom.roomname ]]</p>
                                <button ng-click="chat.leaveRoom(chatroom)">&times;</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="chatview">
                <div class="messageview">
                    <div class="messages" directive-when-scrolled="chat.loadMoreMessages()">
                        Message limit: [[ chat.messageLimit ]]
                        <ul>
                            <li id="message" ng-repeat="message in chat.messages | limitTo: chat.messageLimit">
                                <span>[[ message.date ]] - [[ message.user ]]: [[ message.content ]]</span>
                            </li>
                        </ul>
                    </div>
                    <div class="members">
                        <ul>
                            <li id="member" ng-repeat="member in chat.chatroomMembers">
                                [[ member ]]
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sendmessage">
                    <input type="text" ng-model="chat.messageContent"/>
                    <button ng-click="chat.sendMessage()">Send</button>
                </div>
            </div>
        </div>
        
    </div>
    <script src="{% static 'angular.min.js' %}"></script>
    <script src="{% static 'angular-cookies.min.js' %}"></script>
    <script src="{% static 'angular-route.min.js' %}"></script>

    <script src="{% static 'backend/tjota-client.js' %}"></script>
    <script src="{% static 'localStorage/localStoreOps.js' %}"></script>
    <script src="{% static 'app.js' %}"></script>
    <script src="{% static 'message-form/message-form.directive.js' %}"></script>
    <script src="{% static 'message-list/message-list.directive.js' %}"></script>
    <script src="{% static 'message-list/message-item/message-item.directive.js' %}"></script>
  </body>
</html>
