{% load staticfiles %}
{% load compress %}
{% load adjax %}

<!DOCTYPE HTML>
<html ng-app="app">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Tjöta</title>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'styles.scss' %}">
    {% endcompress %}
  </head>

  <body>
    {% csrf_token %}

    {% adjax_scripts %}

    {% verbatim %}
      <div ng-controller="main">
        <div class="nav">
            <img src="https://tjota.online/static/tjota.png" alt="Tjöta">
            <img src="https://tjota.online/static/yellow.png" alt="Yellow">
            <button ng-if="!user" ng-click="login.show()" class="glossyglossy">Log in</button>
            <button ng-if="user" ng-click="logout.submit()" class="glossyglossy">Logout</button>
        </div>

        <div ng-if="user" class="status">
            <span class="welcome">Welcome, {{ user.name }}</span>
          <form>
            <span ng-hide="status.editable">Your current status is: {{ user.status }}</span>
            <button ng-hide="status.editable" ng-click="status.edit()">Edit</button>

            <input ng-show="status.editable" type="text" ng-model="user.status"/>
            <button ng-show="status.editable" ng-click="status.save()">Save</button>
          </form>
        </div>

        <div class="login" ng-show="login.visible">
          <div class="caption">
            <button ng-click="login.hide()">&times;</button>
          </div>

          <form ng-submit="login.submit(login.data)">
            <input type="text" ng-model="login.data.username" placeholder="Username"/>
            <input type="password" ng-model="login.data.password" placeholder="Password"/>
            <label>
              <input type="checkbox" ng-model="login.consent"/>
              I accept the <a href="#">Terms and Conditions</a>
            </label>
            <button ng-disabled="!login.consent">Login</button>
          </form>
        </div>

      </div>
    {% endverbatim %}

    <script src="{% static 'angular.min.js' %}"></script>
    <script src="{% static 'angular-cookies.min.js' %}"></script>
    <script src="{% static 'angular-route.min.js' %}"></script>

    <script src="{% static 'app.js' %}"></script>
  </body>
</html>
