<!DOCTYPE HTML>
<html>
<head>
</head>
<body style="width:450px; margin:auto; margin-bottom: 25px;">
<h1>Terms and Conditions</h1>
<p> Last updated: Jan 5, 2017 </p>
<hr></hr>
<p> 
Please read these Terms and Conditions ("Terms", or "Terms and Conditions") carefully before registering an account through the website found at https://tjota.online to start use of our service (the "Service") operated by Tjˆta ("us", "we", or "our"). 
</p>
<p>
 Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service. 
</p>
<p>
By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the Terms then you may not access the Service.
</p>
<hr></hr>
<h4> Accounts </h4>
<p>
When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.
In order to create an account and access our Service you must be a student.
</p>
<p> The use of the Service is free of charge. However, network charges from your Internet provider may occur through the use of the Service. </p>
<p> You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service. </p>
<p> You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account. </p>
<hr></hr>
<a href="/"> Back </a>
</body>
</html>
