
* {
    &, &::after, &::before {
                box-sizing: border-box;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
             -o-box-sizing: border-box;
    }
}

.login {
    position: fixed;
    width: 300px;
    top: 100px;
    left: 50%;
    margin-left: -150px;
    border: solid 1px gray;
    padding: 10px;

    > .caption {
        text-align: right;

        > button {
            background: transparent;
            border: none;
            font-size: 30px;
        }
    }

    > form {
        > * {
            margin: 10px 0;
            padding: 10px;
        }

        > input {
            display: block;
            width: 100%;
        }

        > button {
        }
    }

}
