* {
    &, &::after, &::before {
                box-sizing: border-box;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
             -o-box-sizing: border-box;
    }
}

html, body {
    height: 100%;
}

.header {
    border: 1px dotted red;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* NEW FROM LOREAL */
.btngul {
    background: #E1AE3A;
    background-image: linear-gradient(#E1CE9E ,#E1AE3A);
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-family: 'Open Sans';
    font-weight: 100;
    border: none;
    color: white;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 15px;
    border-radius: 12px;
    font-weight: bold;
}

/* The users header should consist of a welcoming message and an option to set the user's status. */
.userheader {
    border: 1px dotted blue;
    width: 100%;
    background: #182B3C;
    font-family: 'Open Sans';
    padding: 20px;
        
    > .welcome {
        font-size: 25px;
        font-weight: bold;
        color: white;
    }
    > .status {
        font-size: 18px;
        color: white;
    }
}

/* The userview consists of the field of available chats and the chat area itself */
.userview {
    width: 100%;
    font-family: 'Open Sans';
        
    > .chatrooms {
        width: 20%;
        height: 500px;
        background: #182B3C;
        float: left;
        border: orange dotted 1px;
        
        > .chatops {
            text-align: center;
        }
        
        > .chats {
            
            > .chatlist {
                list-style-type: none;
                margin-right: 2em;
                margin-left: -1em;
                
                > .chatitem {
                    float: left;
                    width: 100%;
                    height: 1,5em;
                    padding: 2px;
                    color: white;
                    border-radius: 5px;
                    
                    > button {
                        float: right;
                        border-radius: 20%;
                        font-weight: bold;
                        background: transparent;
                        color: transparent;
                        border: transparent;
                    }
                }
                
                > .chatitem:hover {
                    background: #31597B;
                    
                    > button {
                        background: #262626;
                        color:#f5f5f5;
                        border: 2px solid #f5f5f5;
                        //box-shadow: 0 0 3px gray;
                    }
                }
            }
        }
    }
    
    > .chatview {
        width: 80%;
        height: 500px;
        background: #E1AA11;
        float: left;
        border: green dotted 1px;
    }
}



.login {
    position: fixed;
    width: 300px;
    top: 100px;
    left: 50%;
    margin-left: -150px;
    font-family: 'Open Sans';
    font-size: 11px;
    padding: 10px;
    border: solid 1px gray;

    > .caption {
        text-align: right;

        > button {
            background: transparent;
            border: none;
            font-size: 30px;
        }
    }

    > form {
        > * {
            margin: 10px 0;
            padding: 10px;
        }

        > input {
            display: block;
            width: 100%;
        }

        > button {
        }
    }

}
