* {
    &, &::after, &::before {
                box-sizing: border-box;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
             -o-box-sizing: border-box;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* NEW FROM LOREAL */
.glossyglossy {
    background: #E1AE3A;
    background-image: linear-gradient(#E1CE9E ,#E1AE3A);
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-family: 'Open Sans';
    font-weight: 100;
    border: none;
    color: white;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 15px;
    border-radius: 12px;
    font-weight: bold;
}

/* The users header should consist of a welcoming message and an option to set the user's status. */
.userheader {
    width: 100%;
    font-family: 'Open Sans';
    padding: 20px;
        
    > .welcome {
        font-size: 25px;
        font-weight: bold;
    }
    > .status {
        font-size: 18px;
    }
}

/* The userview consists of the field of available chats and the chat area itself */
.userview {
    width: 100%;
        
    > .chatrooms {
        width: 25%;
        float: left;
        border: orange dotted 1px;
        
        > .chatlist {
            list-style-type: none;
            margin-right: 2em;
            margin-left: -1em;
            > .chatitem {
                float: left;
                width: 100%;
                > button {
                    float: right;
                    background-color: transparent;
                    color: transparent;
                    border: transparent;
                    border-radius: 50%;
                    -webkit-transition-duration: 0.4s;
                    transition-duration: 0.4s;
                }
            }
            > .chatitem:hover {
                > button {
                    color: black;
                    border: 1px solid black;
                }
            }
        }
    }
    
    > .chatview {
        width: 75%;
        float: left;
        border: green dotted 1px;
    }
}



.login {
    position: fixed;
    width: 300px;
    top: 100px;
    left: 50%;
    margin-left: -150px;
    border: solid 1px gray;
    padding: 10px;

    > .caption {
        text-align: right;

        > button {
            background: transparent;
            border: none;
            font-size: 30px;
        }
    }

    > form {
        > * {
            margin: 10px 0;
            padding: 10px;
        }

        > input {
            display: block;
            width: 100%;
        }

        > button {
        }
    }

}
